@media screen and (max-width:768px){
    .user-info{
        display: none;
    }
    .link-group li a span{
        display: none;
    }
    .link-group .block-link {
        padding: 10px 25px 5px 10px;
    }
    .sidebar-section {
        width: 15%;
    }
    .main {
        width: 85%;
    }
    .container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-gap: 1rem;
    }
    .help-section{
        display: none;
    }
    .chart-cal img {
        width: 100px;
    }
    .active-title-width {
        width: 28%;
        font-size: 9px;
    }
    .active-vehicle {
        position: absolute;
        bottom: 8%;
        left: 15%;
    }
    .chart-cal {
        position: absolute;
        left: 50%;
        top: 50px;
        transform: translate(-50%);
    }
    .chart1 {
        position: absolute;
        top: 0px;
        right: -64px;
    }
    .chart2 {
        position: absolute;
        top: 35px;
        right: -73px;
    }
    .chart1 b, .chart2 b {
        font-size: 10px;
    }
    .chart1 span, .chart2 span {
        font-size: 8px;
    }
    .bg-banner img {
        max-width: 100px;
        bottom: 0px;
        top: unset;
    }
    .bg-banner {
        background-image: url(../img/bg2.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 135px;
        border-radius: 10px;
        padding: 20px 25px;
        position: relative; 
        z-index: 0;
        margin: 20px 0px;
    }
    .bg-banner h3 {
        font-size: 13px;
    }
    .bg-banner p {
        width: 90%;
        font-size: 12px;
    }
    .car-info img {
        width: 15px;
        height: 20px;
    }
    .car-info span { 
        font-size: 9px;
    }
    .car-info b { 
        font-size: 10px;
    }
    .car-info .active {
        position: relative;
        color: #00AE7D;
        background-color: #00ae7d3b;
        border-radius: 15px;
        width: 100%;
        max-width: 60px;
        font-size: 5px;
        text-align: left;
        padding: 0px 10px;
    }
    .d-flex-space { 
        gap: 0.3rem; 
        padding: 0px;
    }
    .car-info .not-active { 
        width: 60px;
        font-size: 6px;
    }
    .position-top {
        position: relative;
    }
    .main{
        padding: 15px;
    }
}